/* starting of css is from here */
/* reset css */
*{
    margin:0;
    padding: 0;
}

/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position:sticky;
    top: 0;
    

    
}
#navbar ul{
    
    display: flex;

}
#navbar ul li{
    display: block;
    list-style: none;
    font-size: 1.2rem;
    /* padding: 0rem 0.5rem; */
 }
 #navbar ul li a{
    display: block;
    padding: 0px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white; 
   
}
#navbar ul li a:hover{
    color: black;
    background-color:white;
    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}


#logo img{
   height: 50px;
   width: 80px;
   margin: 0px 13px;
}
#home{
    display: flex;
    flex-direction: column;
    height: 71vh;
    justify-content: center;
    align-items: center; 
}

#home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80%;
    width: 100%;
    /* top: 0px;
    left: 0px; inko use krte he default image ki height bdh jaaegi*/
    background: url(/img/271681.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    text-align: center;
    font-size: 2.4rem;
    color: white;
    text-align: center;
    font-family: 'Baloo 2', cursive;
}
#home p{
    text-align: center;
    font-size: 1.2rem;
    color: white;
    
}
.btn{
    padding: 0.7px 18px;
    margin: 10px 0px;
    border: 2px solid white;
    background-color: rgb(199, 143, 91);
    color: white;
    border-radius: 10px;
    font-family: 'Baloo 2', cursive;
    cursor: pointer;  
    font-size: 1rem;
    

}
.btn:active{
    background-color:rgb(146, 106, 59) ;
}
.h1-primary{
    color: black;
    text-align: center;
    font-size: 2.2rem;
}
.box img{
    width: 220px;
    height: 120px;
}
#services{
    margin: 7px;
    display: flex;
    justify-content: center;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #a07c7c;
    width: 28rem;
    height: 17rem;
    padding: 3px 6px;
    text-align: center;
    margin: 0px 7px;
    border-radius: 30px;
    background-color: rgb(245 245 245);
    font-family: 'Baloo 2', cursive;
    
}
#service-container{
    margin-top: 1rem;
    position: relative;

}
/* #service-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 90.2%;
    left: 0px;
    background: url(/img/pexels-chan-walrus-941869.jpg);
    z-index: -1;
    opacity: 0.7;

} */
#service-container .h1-primary{
    font-family: 'Baloo 2', cursive;
   
    font-size: 2.8rem;
}
.box p{
    line-height: 20px;
}
.box h2{
    padding: 0px;
    margin: 0px;
}
#client-section .h-primary{
    text-align: center;
    /* border: 2px solid red; */
    font-size: 2.5rem;
    font-family: 'Mukta', sans-serif;
    
}
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.client-item{
    padding: 15px 55px;
}
.client-item img{
    height: 5rem;
    
}
#client-section{
    margin-top: 15px;
    /* border: 2px solid red; */
    height: 100%;
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('/img/pizza.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    /* top: 0px; */
    /* left: 0px; */
    z-index: -1;
    opacity: 0.7;
    border-radius: 6px;
}
#contact{
/* border: 2px solid red; */
position: relative;
}
#contact .h-primary{
    font-size: 2.5rem;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/img/teahub.io-contact-wallpaper-485738.png') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.6;
    border-radius: 6px;

}
#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
    line-height: 18px;
    
}
#contact-box input,#contact-box textarea{
    /* width: 100%; ye width ko pura bdha dega aur text automatic upr
     aa jaaenge..aur remember percentage aur pixel dono alg kaam krte hai
     percentage mtlb default jitni width ya kuch bhi ho utni he lega pr pixel
     mein jitna set kroge utna ho jaaega */
    padding: 0.4rem;
    width: 100%;
    border-radius: 7px;
}
#contact-box label{
    font-size: 1rem;
    font-family: 'Mukta', sans-serif;
    
}
#contact-box form{
    width: 40%;
    /* border: 2px solid red; */
}
footer{
    background: black;
    color: white;
    padding: 10px 3px;
    text-align: center;
}
